/*Resolution::after 1349x768*/
/*Stylesheet for homepage*/
/*border: 1px solid red;*/

@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');

:root { /*Color pallette variables*/
    --logored: #D1281D;
    --dorange: #E2690E; /*Main Pallette*/
    --dyellow: #FDCC0E; /*Main Pallette*/
    --lyellow: #FEEAAB;
    --creme: #FFE1BD; /*Main Pallette*/
    --ogreen: #668B4C;
    --cyanblue: #27a193; /*Main Pallette*/
    --lgrey: #A6A6A6;
    --forkgrey: #65747B;
    --darkmode: #47444B; /*Main Pallette*/
    --main-padding: 5px;
}

body {
    background-color: black;
    color: white;
    font-family: 'Belleza', sans-serif;
    font-size: 2vw;
    display: block;
    width: 100%;
    margin: 0; /*IMP: Removes the unwanted left side gap*/
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.25fr 0.8fr 1.5fr 0.25fr;
    grid-template-areas: "social social social social social social" "nav nav nav nav nav nav" "content1 content1 content2 content2 content3 content3" "footer footer footer footer footer footer";
    grid-gap: 0;
    font-weight: 300;
    color: white;
}

#social {
    background: #27a193;
    grid-area: social;
    padding: 0.5rem;
}

#nav {
    background: white;
    grid-area: nav;
    padding-top: var(--main-padding);
}

#content1 {
    background: black;
    grid-area: content1;
    padding-top: var(--main-padding);
}

#content2 {
    background: black;
    grid-area: content2;
    padding-top: var(--main-padding);
}

#content3 {
    background: black;
    grid-area: content3;
    padding-top: var(--main-padding);
}

#content1,#content2,#content3{
    text-align: center;
}

#footer {
    background: #27a193;
    grid-area: footer;
    padding-top: var(--main-padding);
    padding: 0.5rem;
}

a {
    text-decoration-style: none;
}

.pic-card {
    width: 70%;
    border-radius: 15%;
    padding: 1.5rem;
}

@media only screen and (max-width: 550px) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 1.5fr 1.2fr 1.2fr 1.2fr 0.5fr;
        grid-template-areas: "social" "nav" "content1" "content2" "content3" "footer";
    }
}
